body {
  background-image: linear-gradient(to left,rgb(67, 6, 148),rgb(92, 34, 158)70%);
  font: 500 1.2rem arial;
}

.box-js {
  outline: 3px solid rgb(118, 30, 233);
  background-color: rgb(75, 22, 134);
  box-shadow: rgba(0, 0, 0, 0.342) 4px 4px 10px;
  border-radius: 1rem;
  width: 33rem;
  margin: auto;
  padding: 1rem;

  & img {
    border: 4px solid rgb(56, 9, 109);
  }
}

 .hiden {
    display: none;
  }

.boxInRed {
  display: grid;
  border-radius: 0.5rem;
  background-color: rgb(95, 1, 1);
  padding: 0.5rem;
  gap: 1rem;
  margin-inline: -15px;
}

& .buttonWhite{
  color: rgb(136, 75, 206);
  text-decoration: none;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  margin-block: 1rem;
  text-align: center;
  transition: background-color 450ms linear,outline 750ms linear;
  display: grid;
  justify-self: center;
  border: none;
  cursor: pointer;
  font: var(--font1-5rem);

  &:hover{
    background-color: rgb(138, 138, 138);
  }

  & a {
    text-decoration: none;
  }
}


ul {
  appearance: none;
  text-decoration: none;
  list-style-type: none;
}

.ListDisc{
  list-style-type: disc;
  list-style-position: inside;
}

& #button {
  display: flex;
  background-color: rgb(61, 7, 131);
  width: fit-content;
  padding: 1rem;
  justify-content: center;
  border-radius: 1.3rem;
  border: 2px solid rgba(245, 222, 179, 0.274);
  margin: 2rem;
  position:fixed;
  bottom: 0;
  transition: border 1s,background-color 1s;
  & img {
    width: 30px;
    height: 30px;
  }

  &:hover {
    border: 2px solid rgba(245, 245, 245, 0.699);
    background-color: rgb(99, 26, 196);
  }
} 

.marg1rem{
  margin-block: 1rem;
}

.marg2rem{
  margin-block: 2rem;
}

@media (width >= 43.75rem) {
  .box-js {
    width: 37.5rem;
  }

  & #button {
    display: flex;
    background-color: rgb(61, 7, 131);
    width: fit-content;
    padding: 1rem;
    justify-content: center;
    border-radius: 2rem;
    border: 2px solid rgba(245, 222, 179, 0.274);
    margin: 2rem;
    position:fixed;
    bottom: 0;
    transition: border 1s,background-color 1s;

    & img {
      width: 60px;
      height: 60px;
    }

    &:hover {
      border: 2px solid rgba(245, 245, 245, 0.699);
      background-color: rgb(99, 26, 196);
    }
  } 
}

@media (width >=64rem){
  .box-js {
  width: 97%;
  margin-inline: 1rem;
}
}